@import "base/typography";

@import "layout/navigation";
@import "layout/footer";

@import "pages/cars";
@import "pages/team";

.main-page-title {
    color: #00aaff;
    font-size: 10rem;
}

@media (max-width: 1199px) {
    .main-page-title {
        font-size: 8rem;
    }
}

@media (max-width: 991px) {
    .main-page-title {
        font-size: 6rem;
    }
}

@media (max-width: 767px) {
    .main-page-title {
        font-size: 4.6rem;
    }
}

@media (max-width: 575px) {
    .main-page-title {
        font-size: 4rem;
    }
}

@media (max-width: 463px) {
    .main-page-title {
        font-size: 3rem;
    }
}

.main-page-subtitle {
    color: #FFF;
}

@media (min-width: 992px) {
    #about-team-photo {
        width: 50%!important;
    }
}

figcaption {
    font-family: 'Ubuntu';
}

#about {
    background: linear-gradient(0deg, #E9ECEE 0%,#D3D9DD 100%);
    color: #1D3C6D;
}

#blog-posts {
    background: linear-gradient(0deg, #FFFFFF 0%,#E9ECEE 100%);
    color: #1D3C6D;
}

#index-hero {
    background-image: url("/assets/images/main-hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#hero-yt-video {
    width: 65%;
}

#contact {
    background-image: url("/assets/images/contact-photo.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#contact h1 {
    color: white;
}