@import "base/typography";

@import "layout/navigation";
@import "layout/footer";

@import "pages/cars";
@import "pages/post";
@import "pages/team";

.main-page-title {
    color: #00aaff;
    font-size: 6rem;
}

@media (max-width: 1199px) {
    .main-page-title {
        font-size: 6rem;
    }
}

@media (max-width: 991px) {
    .main-page-title {
        font-size: 4rem;
    }
}

@media (max-width: 767px) {
    .main-page-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 575px) {
    .main-page-title {
        font-size: 3rem;
    }
}

@media (max-width: 463px) {
    .main-page-title {
        font-size: 3rem;
    }
}

.main-page-subtitle {
    color: #FFF;
}

@media (min-width: 992px) {
    #about-team-photo {
        width: 50%!important;
    }
}

figcaption {
    font-family: 'Ubuntu';
}

#about {
    //background: linear-gradient(0deg, #E9ECEE 0%,#D3D9DD 100%);
    background: linear-gradient(0deg, #FFFFFF 0%,#D3D9DD 100%);
    color: #1D3C6D;
}

#blog-posts {
    background: linear-gradient(0deg, #FFFFFF 0%,#E9ECEE 100%);
    color: #1D3C6D;
}

#index-hero {
    // background-image: url("/assets/images/main-hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@media (min-aspect-ratio: 1/1) {
    #index-hero {
        background-image: url("/assets/images/spain-accel-lights.jpg");
    }

    #main-page-title-container {
        background-color: rgba(0,0,0,0.4);
        box-shadow: 0 0 30px 30px rgba(0,0,0,0.4);
        border-radius: 25px;
    }
}

@media (max-aspect-ratio: 1/1) {
    #index-hero {
        background-image: url("/assets/images/autocross-mob-bg.jpg");
    }

    #main-page-title-container {
        background-color: rgba(0,0,0,0.2);
        box-shadow: 0 0 30px 30px rgba(0,0,0,0.2);
        border-radius: 25px;
    }
}


#main-page-title-container>h1 {
    padding-top: 0 !important;
}

#hero-yt-video {
    width: 65%;
}

#contact {
    background-image: url("/assets/images/contact-photo.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact h1 {
    color: white;
}

.contact-address p {
    color: white;
    font-size: 18px;
    line-height: normal;
}
