#team {
    background: linear-gradient(0deg, #FFFFFF 0%,#D3D9DD 100%);
    color: #1D3C6D;
}

#team-hero {
    background-image: url("/assets/images/team-hero.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#team-hero h1{
    color: white;
}